:root{
    --green-color: #689D71;
    --blue-color: #0043B1;
    --beige-color: #F6EDD9;
    --light-green-color: #F0FCF2;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "cormorant SC";
}



/* header */

header{
    background: #689D71;
    background-size: cover;
    /* height: 100vh; */
    
}

header h1 {
    font-family: "cormorant SC";
    font-size: 40px;
    color: #0043B1;
    padding: 40px;
    text-align: center;
    flex-wrap: wrap;
}

header p {
    font-family: "cormorant SC";
    font-size: 20px;
    color: #FFFFFF;
    padding: 40px;
    text-align: center;
    
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    
    background-color: #F6EDD9;
}


nav .logo {
    background: url(homedeco-logo-image.png);
    padding-left: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    border-bottom: 2px solid #689D71;
    list-style: none;
    margin-right: 40px;
    
}

nav ul li a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: #0043B1;
    padding: 15px;
    


}

.hero-section .slide img {
    width: 100%;

}

.active {
    color: #689D71;}

    

.about-section {
    margin-top: 40px;
    margin-left: 50px;
    flex-wrap: wrap;
    display: flex;
    flex-direction:column-reverse;
        
}


.wrapper__about {
    display: flex;
    width: 100;
    justify-content: space-around;
}
.wrapper__about > .wrapper__content {
    display: flex;
    flex-direction: column;
}

/* end of the about section */

.nos-services {
    

    background: #F6EDD9;
    background-size: cover;
}

.nos-services h2 {
    color: #0043B1;
    font-family: "cormorant SC";
    font-size: 34px;
    text-align: center;
    flex-wrap:wrap;
    padding-top: 20px;
    padding-bottom: 30px;
}

.architecture-interieur {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}


.architecture-interieur h2 {
    color:#000000;
}


.decoration-interieur{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: 30px;
  
}

.decoration-interieur h2{
    color: #000000;
}


.architecture-commercial{
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}

.architecture-commercial h2 {
    color: #000000;
}



.architecture-interieur p{
    color:#000000;
    font-family: "cormorant SC";
    font-size: 28px;
}

.decoration-interieur p{
    color:#000000;
    font-family: "cormorant SC";
    font-size: 28px;
}

.architecture-commercial p{
    color:#000000;
    font-family: "cormorant SC";
    font-size: 28px;
}

/* end of the services section */


.contact h2{
    color: #0043B1;
    font-family: "cormorant SC";
    font-size: 34px;
    text-align: center;
    flex-wrap:wrap;
    padding-top: 20px;
    padding-bottom: 30px;
}

form {
    display: flex;
    gap: 10px;
    flex-direction:column;
    width: 790px;
    height: 685px;
    left: 55px;
    top: 110px;
    margin-left: 20px;
}


form input, button {
    padding: 1em 1em; 
}

input{
    border-color: #689D71;
    border-width: 4px;
}

textarea {
    border-color: #689D71;
    border-width: 4px;
}

button {
    font-family: inter;
    color: #F0FCF2;
    font-size: 28px;
    font-weight: 700;
    background-color: #689D71;
    padding: 10px;
}

.wrapper_contact {
    display: flex;
}

.wrapper_contact2 {  
    padding-inline: 50px;
    padding-block:50px ;
    /* letter-spacing: 10px; */
    line-height: 5;
}



.wrapper_contact2 ul li{
        list-style: none;
    }



/* end of contact section */

.team{
    background-color: #F0FCF2;
}

.team h2 {
    color: #0043B1;
    font-family: "cormorant SC";
    font-size: 34px;
    text-align: center;
    flex-wrap:wrap;
    padding-top: 20px;    
}



.wrapper_team{
    display: flex;
    flex-direction:row;
    padding: 50px;
    justify-content: space-around;
    padding-top: 0;
    
    
}

.info h3{
    color:#0043B1 ;
    font-size: 34px;
    font-weight:400;
}

.info p{
    font-weight: 400;
font-size: 19px;
line-height: 23px;
}


/* end of the team section */


footer {
    background-color:#689D71 ;
    
}

.links1 h3 {
    color: #0043B1;

}

.links2 h3{
    color: #0043B1;
}

.links2 ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.links3 h3{
    color: #0043B1;
}

.social_med h3{
    color: #0043B1;
}

.links-container {
    display: flex;
    flex-direction:row;
    padding: 50px;
    justify-content: space-around;
    line-height: 3;
    
}

.links1 ul li {
    color:#000000;
    list-style: none;
    text-decoration: none;
    

}

.links3 button {
    font-family: inter;
    color: #F0FCF2;
    font-size: 20px;
    font-weight: 700;
    background-color: #689D71;
    padding: .4em .2rem;
    cursor: pointer;
    border: 1px solid #333;
    transition: all 150ms ease-in-out;
}
.links3 button:hover {
    background: hsl(130, 21%, 31%);
}
.links3 input {
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: 1px solid #333;
    padding: .4em .2rem;
}
.links3 input::placeholder {
    color: rgba(0, 0, 0,.2);
}
/* end of the footer */

@media (max-width: 500px) {
    .wrapper__about{
       flex-direction: column;
       width: 100%;
       overflow: hidden;
    }
    .wrapper__about img {
        width: 80%;
        display: block;
        margin-inline: auto;
    }

    .logo{
        display: block;
        margin-inline: auto;
    }

    nav ul{
        display: block;
        margin-inline: auto;
        width: 100%;
       text-align: center;
       line-height: 2;
    }

    .architecture-interieur {
        flex-direction: column;
       width: 100%;
       overflow: hidden;

    }
    .architecture-interieur img {
        width: 80%;
        display: block;
        margin-inline: auto;
    }

    .architecture-interieur p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    .decoration-interieur {
        flex-direction: column;
       width: 100%;
       overflow: hidden;
    }

    .decoration-interieur img {
        width: 80%;
        display: block;
        margin-inline: auto;

    }

    .decoration-interieur p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    .architecture-commercial {
        flex-direction: column;
       width: 100%;
       overflow: hidden;
    }

    .architecture-commercial img {
        width: 80%;
        display: block;
        margin-inline: auto;
    }

    .architecture-commercial p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }


    
    .wrapper_contact {
        flex-direction: column;
       width: 100%;
       overflow: hidden;
       text-align: center;
    }

    .wrapper_contact form {
        width: 80%;
        display: flex;
        height: max-content;
        align-items:center;
        margin-inline: auto;
        
    }
    .wrapper_contact form input {
        width: 100%;
    }

    .wrapper_contact2 ul li{
        list-style: none;
    }

    textarea {
        width: 100%;
    }
    .contact h2{
        margin-inline: auto;
    }


    .wrapper_team{
        display: block;
        margin-inline: auto;
        padding-top: 40px;
        text-align: center;
    }

    

    .wrapper5 .links-container {
        display: block;
        margin-inline: auto;
        text-align: center;
    }

    


}


/* CARDCARDCARD  */
.card_wrapper {


}
.card {
    position: relative;
    display: block;
    
    width: 640px;
    height: 280px;
    aspect-ratio: 1.6;
    background-image: url(./images/nos_chambres.png);
    overflow: hidden;cursor: pointer;
}
.card:nth-child(2) {
    background-image: url(./images/nos_salons.png);
}

.card:nth-child(3) {
    background-image: url(./images/nos_salles_de_bain.png);
}

.card:nth-child(4) {
    background-image: url(./images/nos_cuisines.png);
}

.card:nth-child(5) {
    background-image: url(./images/nos_salle_a_manger.png);
}

.card:nth-child(6) {
    background-image: url(./images/nos_bureaux.png);
}




.text1 {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    inset: 0;
    transform: translateX(-110%);
    background-color:rgba(105, 158, 113, .4);
    transition: all 250ms ease-in-out;
}

.card:hover .text1 {
    transform: translateX(0);
}

/* Gallery  */
.card_wrapper {
    justify-content: center;
    padding: 4em 2.6em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}  





